<div class="container">
   <section id="entete" class="row border border-info border-5">
      <h1>Poker 420</h1>
   </section>
   


   <app-connexion #conn
      (ouvrirCreationCompte)="cc.onOuvrirCreationCompte()"
            (connexionReussie)="acc.ouvrirAccueil($event)">
   </app-connexion>

   <app-creation-compte #cc
      (quitterCreationCompte)="conn.onQuitterCreationCompte()">
   </app-creation-compte>

   <app-accueil #acc
       (ouvrirEcranCP) = cp.onOuvrirEcranCP($event)>
   </app-accueil>

   <app-creation-partie #cp
         (demarrerPartie) = tj.onDemarrerPartie($event) >
   </app-creation-partie>

   <app-table-de-jeu #tj>

   </app-table-de-jeu>
</div>