<div *ngIf="visible">

    <h2>Création d'un compte</h2>

    <label>Nom de Membre:</label>
    <input id="nom" [(ngModel)] = "membreCandidat.nom"><br>

    <label>Courriel:</label>
    <input id="courriel" [(ngModel)] = "membreCandidat.courriel"><br>

    <label>Mot de passe:</label>
    <input type='password' id="motDePasse" [(ngModel)] = "membreCandidat.motDePasse"><br>

    <label>Confirmer Mot de passe:</label>
    <input type='password' id="confirmation" [(ngModel)]="confirmation"><br>

    <button class="btn btn-info" (click)="valider()">Valider</button><hr>
    <button class="btn btn-warning" (click)="quitter()">Annuler</button>
</div>