<div *ngIf="visible">

    <h1>Bienvenue {{membre.nom}} 
       <img src="{{this.urlServeur}}/images/joueurs/joueur0.png" alt="non dispo" width="50">

    </h1>
  <section>
    <button *ngFor="let p of tabIdsParties" class="btn btn-info" (click)="ouvrirPartie(p)">partie {{p}}</button>
  </section>

  <h3>Modifier votre image</h3>
  <input (change)="fileChange($event)"
   type="file" placeholder="Fichier"
   name="inNomFichier">
   <br>

<button *ngIf='televersementValide' (click)="executerTeleversement()">
 Téléverser le fichier
</button>
    

    <button class="btn btn-danger" (click)="ouvrirEcranCreationPartie()">Créer une partie</button>
    <button class="btn btn-warning" (click)="quitter()">Annuler</button>
    
    </div>
    
